Checks: >
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-named-parameter,
  -readability-braces-around-statements,
  -readability-magic-numbers,
  -modernize-use-nullptr,
  -readability-function-cognitive-complexity,
  -bugprone-easily-swappable-parameters

CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,               value: lower_case }
  - { key: readability-identifier-naming.StructCase,                  value: lower_case  }
  - { key: readability-identifier-naming.FunctionCase,                value: lower_case  }
  - { key: readability-identifier-naming.VariableCase,                value: lower_case }
  - { key: readability-identifier-naming.MacroDefinitionCase,         value: UPPER_CASE }
  - { key: readability-identifier-naming.EnumConstantCase,            value: UPPER_CASE }
  - { key: readability-identifier-naming.ConstexprVariableCase,       value: UPPER_CASE }
  - { key: readability-identifier-naming.GlobalConstantCase,          value: UPPER_CASE }
